{% load static %} 
<!-- FOOTER -->
<footer class="page-footer purple darken-3">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Equipe do Projeto</h5>
          <p class="grey-text text-lighten-4">
            <ul>
              <li>Mauricio Lucianelli Junior TIA:31818587</li>
              <li>Matheus Matsumoto TIA:</li>
              <li>Vitor Ravacci Nunes de Oliveira TIA: 31817750</li>
              <li>Pedro Joanini Cardoso TIA: 31852238</li>
            </ul>
          </p>


        </div>
        <div class="col l3 s12">
          <!--suporte-
          <h5 class="white-text">EXPLORE NOSSO SITE!!!</h5>
          <ul>
            <li><a class="white-text" href="#!">Home</a></li>
            <li><a class="white-text" href="#!">Lista de Cursos</a></li>
            <li><a class="white-text" href="#!">Suporte</a></li>
            <li><a class="white-text" href="#!">MVP(maybe)</a></li>
          </ul>
        -->
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="purple-text text-lighten-5" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>
  <!-- FOOTER END-->