{% load static %} 
<!-- HEADER  -->
<nav class="purple darken-3" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="{% url 'index' %}" class="brand-logo">BuscaCurso</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="{% url 'index' %}">Página Inicial </a></li>
        <li><a href="{% url 'course_list' %}">Lista de Cursos </a></li>
        <li><a href="{% url 'support' %}">Suporte </a></li></a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="{% url 'index' %}">Página Inicial <i class="material-icons">home</i></a></li>
        <li><a href="{% url 'course_list' %}">Lista de Cursos <i class="material-icons">format_list_bulleted
</i></a></li>
        <li><a href="{% url 'support' %}">Suporte <i class="material-icons">people
</i></a></li></a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <!-- HEADER END -->