{% extends 'base.html' %}
{% load static %}
{% block content %}
{%include 'partials/menu.html'%}
</nav>
<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center orange-text">Lista de Cursos</h1>
    <input type="text" id="searchArticles" onkeyup="searchArticles()" placeholder="Busque o curso desejado">
    <div class="card purple darken-3 z-depth-3 ">
      <div class="tableFixHead-big">
        <table id="articles" class="rensponsive-table centered white-text">
          <thead class="header">
            <th class="purple accent-3">Nome do Curso</th>
          </thead>
          <tbody>
            {% if courses %}
            {% for key, value in courses.items %}
            <tr>
              <td> <a href="{% url 'details' value.id %}" style="color:#51f542;">{{ key }}</a></td>
              </a>
            </tr>
            {% endfor %}
            {% else %}
            <td>No Courses</td>
            {% endif %}
  

          </tbody>
        </table>
      </div>
    </div>
    <br><br>

  </div>
</div>



{% include 'partials/footer.html' %}

{% endblock %}

</html>