{% extends 'base.html' %}
{% load static %}
{% block content %}
{%include 'partials/menu.html'%}
  <div class="section no-pad-bot" id="index-banner">
      <div class="container">
        <div class="col s12 m7">
          <div class="section no-pad-bot" id="index-banner">
      <div class="container">
        {% if cursos %}
        {% for curso in cursos %}
        <h1 class="header center">{{curso.nome_ies}}</h1>
        {% endfor %}
        {% else %}
        {% endif %}
        <br><br>
      </div>
    </div>
        <br>
        <div class="card purple darken-3 z-depth-3">
          <div class="card-image">
            <img src="{%static 'images/curso-graduacao-ciencias-da-computacao-unisul.jpg'%}" class="image cover" alt="">
            <span class="card-title">Descrição do Curso</span>
          </div> 
          <div class="card-content">
              <p class="white-text">O Bacharelado em Ciência da Computação forma profissionais capazes de projetar e implementar softwares eficientes. O curso capacita o profissional para o desenvolvimento de hardware e softwares, de forma a estudar, desenvolver e implementar programas com objetivos muito amplos, como armazenamento e recuperação de dados, sistemas operacionais e de processamento de dados, banco de dados, redes de computadores, segurança de redes e de programação. 
              </p>
             <br>
              <p class="white-text"> 
              Seu principal objetivo é formar profissionais que usam o computador como atividade-fim, capazes de desenvolver ferramentas e otimizar recursos.
              </p>
            </div>
          </div>
        </div> 
      <br><br>
      <div class="card z-depth-3">
        <div class="card-tabs">
          <ul class="tabs tabs-fixed-width purple accent-3">
            <li class="tab"><a class="white-text active" href="#test4">Estágio</a></li>
            <li class="tab"><a class="white-text" href="#test5">Júnior</a></li>
            <li class="tab"><a class="white-text" href="#test6">Pleno</a></li>
            <li class="tab"><a class="white-text" href="#test7">Senior</a></li>
          </ul>
        </div>
        <div class="card-content purple darken-3 white-text">
          <div id="test4"><h5 class="center">1000</h5></div>
          <div id="test5"><h5 class="center">1000</h5></div>
          <div id="test6"><h5 class="center">1000</h5></div>
          <div id="test7"><h5 class="center">1000</h5></div>
        </div>
  </div>
      <br><br>
        <h4 class="header">Listagem de Instituições</h4>
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Procure sua Faculdade">
        <div class="card purple darken-3 z-depth-3 ">
            <div class="tableFixHead-small">
              <table id = "myTable" class="rensponsive-table centered white-text">
                <thead class="header">
                  <th class="purple accent-3">Instituição</th>
                  <th class="purple accent-3">Sigla</th>
                  <th class="purple accent-3">Duração</th>
                  <th class="purple accent-3">Natureza</th>
                </thead>
                <tbody>
                  {% if cursos %}
                  {% for curso in cursos %}
                  <tr>
                    <td>{{curso.nome_ies}}</td>
                    <td>{{curso.sigla_ies}}</td>
                    <td>{{curso.duracao}} Semestres</td>
                    <td>{{curso.categoria_administrativa}}</td>
                  </tr>
                  {% endfor %}
                  {% else %}
                  {% endif %}
                </tbody>
              </table>
            </div>
          </div>
          <br><br>
  </div>

  {% include 'partials/footer.html' %}
  {% endblock %}
</html>


