{% extends 'base.html' %}
{% load static %}
{% block content %}
{%include 'partials/menu.html'%}
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Bem Vindo ao BuscaCurso!</h1>

      <div class="row center">
        <h5 class="header col s12 light">Está buscando o melhor curso para você? Confira nossa lista de cursos e encontre agora o seu!</h5>
      </div>
      <div class="row center">
        <a href="{% url 'course_list' %}" id="download-button" class="btn-large waves-effect waves-light orange">Achar meu curso</a>
      </div>
      <br><br>

    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Dados Rapidos e Confiáveis</h5>

            <p class="light" style="text-align: center;">Dados obtidos diretamente das bases do E-MEC e do Educamais.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">O seu futuro é prioridade</h5>

            <p class="light"style="text-align: center;" >Com a nossa ferramenta você pode obter informações importantes do curso que você busca.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Plataforma Fácil e Versátil</h5>

            <p class="light" style="text-align: center;">Plataforma simples e prática para pesquisar cursos.</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>
  </div>
  {% include 'partials/footer.html' %}
  {% endblock %}

