{% extends 'base.html' %}
{% load static %}
{% block content %}
{%include 'partials/menu.html'%}

<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center orange-text">Pagina de suporte</h1>
    <div class="row center">
      <h5 class="header col s12 light">Está buscando ajuda? Confira nossos contatos no rodapé!</h5>
    </div>
    <br><br>

  </div>
</div>

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">email</i></h2>
            <h5 class="center">E-mail</h5>

            <p class="light" style="text-align: center;">Entre em contato com o nosso time por e-mail.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">phone</i></h2>
            <h5 class="center">Telefone</h5>

            <p class="light" style="text-align: center;">Nos contate por uma ligação.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">chat</i></h2>
            <h5 class="center">Chat</h5>

            <p class="light" style="text-align: center;">Utilize o nosso chat online.</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>
  </div>
  {% include 'partials/footer.html' %}

  {% endblock %}
</html>
